* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    /* color: white; */
    color: #7f7e88;
}

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100vh - 100px);
    display: flex;
}

/* -------------------------CONTAINER---------------------------- */

.sidebar-container.lg {
    width: 250px;
    /* overflow-y: auto; */
    overflow-x: hidden;
    color: #7f7e88;
    font-weight: 700;
}


.sidebar-container {
    background-color: black;
}


.full-container {
    width: 100vw;
    background-color: #141922;
    overflow-y: auto;
}

.header-container {
    width: 100%;
    padding: 30px 10px;
    background-color: #080b1285;
    text-align: right;
}

/* -------------------UTILITY UL & LI----------------  */

ul {
    list-style-type: none;
}

ul li,
.playlist h4 {
    padding: 10px 0;
}

.display-i-b li,
.music-list li {
    display: inline-block;
}

.music-list {
    color: #7f7e88;
    font-weight: 700;
}

.music-list li {
    padding: 0 15px;
}

.nav-icons ul li {
    display: flex;
    align-items: center;
}

li img {
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}


/* ------------------------FLEX------------------------- */


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-btw {
    justify-content: space-between;
}


.row-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.align-center {
    align-items: center;
}

.col-100 {
    width: 100%;
}

.col-50 {
    width: 50%;
}

.col {
    width: calc(100%/6);
}

.col-min-width-200 {
    min-width: 200px;
}


/* .col-max-width-500 {
    max-width: 500px;
}

.col-min-width-100 {
    max-width: 100px;
} */


/* -----------IMG STYLE-------------- */

.avatar.round {
    width: 40px;
    height: 40px;
    background-color: #282828;
}

.round {
    border-radius: 50%;
    object-fit: fill;
}

.logo img {
    width: 150px;
}

.resize-15 {
    width: 15px;
    height: 15px;
}

.resize-50 {
    width: 50px;
    height: 50px;
}

.album img {
    width: 100%;
}


/* ------------------MARGIN & PADDING-------------------  */

.m-30-0 {
    margin: 30px 0;
}

.m-10 {
    margin: 10px;
}

.p-10 {
    padding-left: 10px;
}

.content {
    margin: 10px;
}

.card h3 {
    margin: 10px 0;
}

/* -----------------UTILITY VARIE--------------------- */

h2,
h3,
h4 {
    color: #fff;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

hr {
    width: 90%;
    margin: 10px auto;
}

.header-container button {
    background-color: #0e1219;
    color: white;
    padding: 10px 35px;
    border-radius: 25px;
    border: 1px solid white;
}

.track-bar {
    width: 500px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    resize: both;
}

.vol-bar {
    width: 100px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    resize: both;
}

/* .f-c-white {
    color: #fff;
} */

/* -------------HOVER---------------------- */

.header-container button:hover {
    font-size: larger;
    cursor: pointer;
}

.music-list ul li:hover {
    color: #fff;
    cursor: pointer;
}

.sidebar-container ul li:hover {
    color: #fff;
    cursor: pointer;
}

.new-list:hover {
    color: #fff;
    cursor: pointer;
}

.hover:hover {
    color: #fff;
    cursor: pointer;
}

.hover.under:hover {
    text-decoration: underline;
}

.hover.fa-2xl:hover {
    font-size: 40px;
}

.track-bar:hover,
.vol-bar:hover {
    background-color: green;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .col {
        width: calc(100%/4);
    }

}

@media screen and (max-width: 576px) {
    .col {
        width: calc(100%/2);
    }

}

@media screen and (max-width: 480px) {
    .col {
        width: calc(100%/2);
    }

    .hidden {
        display: flex;
    }

    .sidebar-container.lg {
        display: none;
    }

    .sidebar-container {
        padding: 0px;

    }

    .m-0 {
        margin: 0;
    }

    .two-icons {
        flex-direction: column;
    }

    .two-icons div {
        margin: 0;
    }

}