* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: white;
}

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

main {
    height: calc(100vh - 100px);
    display: flex;
    overflow-y: auto;
}

.header-container {
    width: 100%;
    background-color: #080b1285;
    text-align: right;
}

.sidebar-container.lg {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: black;
    overflow-y: auto;
    padding: 10px;
}

.sidebar-container.small {
    width: 50px;
    height: calc(100vh - 100px);
    background-color: black;
    padding: 10px;

}

.full-container {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow-y: auto;
}

.main-container {
    padding: 10px;
}

.left-container,
.center-container,
.right-container {
    border: 1px solid white;
}

/* .playlist {
        overflow-y: auto;
        } */

ul {
    list-style-type: none;
}

ul li,
.playlist h4 {
    padding: 10px 0;
}

.music-list ul li {
    display: inline-block;
}

.nav-icons ul li {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

li img {
    width: 15%;
}



.row-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}


.j-center {
    justify-content: center;
}

.j-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.content {
    margin: 5px;
}

.card {
    background-color: red;
    border: 1px solid white;

}

.col {
    width: calc(100%/6);
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.p-10 {
    padding-left: 10px;
}

.resize {
    width: 15%;
}

hr {
    width: 90%;
    margin: 10px auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: fill;
    background-color: #282828;
}


@media screen and (max-width: 768px) {
    .col {
        width: calc(100%/4);
    }

}

@media screen and (max-width: 576px) {
    .col {
        width: calc(100%/2);
    }

}

@media screen and (max-width: 480px) {
    .col {
        width: calc(100%/2);
    }

    .hidden {
        display: flex;
    }

    .sidebar-container.lg {
        display: none;
    }

}